.critter-card{
    background-color: rgb(46, 46, 46);
    min-height: 50vh;
    margin: 10px;
    padding: 0;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.critter-card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
}

.critter-img{
    display: block;
    background-color: white;
    width: 100%;
}

td, th{
    background-color: rgb(56, 56, 56);
    width: 50%;
    height: 100%;
}

tr{
    height: 100%;
}

.left-pad{
    margin-left: 5px;
}

.right-pad{
    margin-right: 5px;
}